* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #A60832;
}

#produto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
}

#produto div {
    border: 2px solid green;
    background: #CCC;
}

.tituloh1 {
    text-align: center;
    color: #A60832;
    margin: 40px 0px;
}

.tituloh1 span {
    color: #000;
}

#banner {
    display: grid;
    height: 300px;
    background: url(../img/gourmet/hamburguer3.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#banner h1,
#banner-contato h1 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.735);
    background: #A60832;
    padding: 5px;
    border-radius: 10px;
}

.f-carousel__dot {
    color: #A60832 !important;
}

.is-prev,
.is-next {
    color: #FFF !important;
}

#galeria span,
#banner-rotativo span {
    color: #000;
}

#grid-galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#galeria {
    text-align: center;
}

#galeria h1 {
    margin: 50px 0;
}

#grid-galeria img {
    width: 100%;
    height: 250px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

header img {
    width: 100px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    padding: 5px;
}

header a:hover {
    background: #A60832;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
}

#ativo {
    background: #A60832;
    color: #FFF;
    border-radius: 4px;
}


/* mapa do site */
#mapa_site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

#mapa_site div {
    display: grid;
    justify-self: center;
}

#mapa_site li {
    margin: 30px 0;
}

#mapa_site a {
    text-decoration: none;
    color: #000;
}

#sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #000;
    /* background: url(../img/parallax/5.jpg) no-repeat center center fixed;
    background-size: cover; */
    gap: 20px;

}

#sociais a {
    color: #fff;
    text-decoration: none;
}

#copy {
    display: grid;
    text-align: center;
    height: 42px;
    background: #A60832;
    color: #fff;
    align-items: center;
    font-weight: bold;
}

#banner2 {
    display: grid;
    height: 300px;
    background: url(../img/parallax/5.jpg) no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#banner2 h1,
#banner_contato_baixo h1 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.735);
    background: #A60832;
    padding: 5px;
    border-radius: 10px;
}



/* pagina contato */
#banner-contato {
    display: grid;
    height: 300px;
    background: url(../img/banner_contato8.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#contato>div {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 20px;
}

#grid-contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

form input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 8px;
}

form textarea {
    height: 230px;
}

form input[type=checkbox] {
    margin: 20px 0;
}

form input[type=submit] {
    background: #00933B;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 5px #000;
}

form input[type=submit]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    transition: 0.3s;
}

#direita img {
    width: 100%;
}

#grid-direita {
    display: grid;
    grid-template-columns: 50px auto;
}


#grid-direita i {
    display: grid;
    align-self: center;
}

#banner_contato_baixo {
    display: grid;
    height: 300px;
    background: url(../img/rodizio.jpg) no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

/* pagina contato */

/* galeria de imagem com grid */
/* #galeria-pai{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-top: 40px;
}

.galeria-img{
    width: 100%;
    height: 250px;
} */

/*  */

/* galeria de imagens usando flex */
#galeria-pai {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.galeria-filho {
    flex: 1 1 auto;
    height: 250px;
}

.galeria-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rotativo-img {
    width: 100%;
    height: 450px;
}